body { background: white !important; }

.kubic-content {
  padding-top: 50px;
}

.main-title {
  color: black;
  margin-bottom: 100px;
}

.artist-photo img {
  border-radius: 50%;
  width: 70%;
}

.artist-photo:hover img{
  opacity: 0.5;
}

.artist-photo:hover .artist-name {
  opacity: 1;
}

.artist-name {
  opacity: 0;
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: black;
  font-size: 16pt;
  padding: 5px;
}

.social-links a:hover {
  color: #777777;
}

footer {
  margin-top: 100px;
}
