.artist {
  display: inline-block;
}

.press-photo {
  width: 30%;
}

.press-photo {
  border-radius: 50%;
}

.press-photo:hover {
  opacity: 0.5;
}

.artist:hover .artist-name {
  opacity: 1;
}

.artist-name {
  opacity: 0;
  color: white;
}
